<div class="editor-container">
  <div (resize)="this.ajustCanvasSize()" id="editor-canvas-container" class="canvas-container">
    <canvas
      id="editor-canvas"
      class="canvas"
      [width]="this.width"
      [height]="this.height"
      (mousedown)="onMouseDown($event)"
      (mousemove)="onMouseOver($event)"
      (mouseup)="onMouseUp($event)"
      (contextmenu)="false"
      (keyup.delete)="onDeletePress()"
      (keydown)="onKeyUp($event)"
      (keypress)="onKeyUp($event)"
    >

    </canvas>
  </div>
  <div class="inspector-container" *ngIf="this.drawInspector">
    <app-inspector-selector [element]="inspectorItem"></app-inspector-selector>
  </div>
  <div class="band-viewer">
    <app-band-viewer [band]="band" [offset]="0" *ngFor="let band of bands"></app-band-viewer>
  </div>

  <div class="toolbox">
    <app-toolbox-button [offsetX]="10" (click)="onMachineTick()"></app-toolbox-button>
    <app-toolbox-button [offsetX]="10" icon="fas fa-step-backward" (click)="onMachineReset()"></app-toolbox-button>
    <app-toolbox-button [offsetX]="10" icon="fas fa-stopwatch" (click)="onMachineRun()"></app-toolbox-button>
  </div>

</div>
